# AWS & Floci
AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock_key
AWS_SECRET_ACCESS_KEY=mock_secret

# Banco Relacional (PostgreSQL / RDS)
DATABASE_URL=postgres://app_user:app_password@localhost:5432/estacionamento?sslmode=disable

# Cache em Memória (Redis / ElastiCache)
REDIS_URL=localhost:6379

# Nomes e Identificadores AWS
S3_BUCKET_NAME=estacionamento-fotos-veiculos-local
DYNAMODB_TABLE_NAME=AuditoriaEstacionamento
SNS_TOPIC_NAME=novo-veiculo-topico
SQS_QUEUE_NAME=ocr-processamento-fila
